.frame { 
 background-color: transparent;
 background-image: url(sprite-worm78327b991f91967b4a0a35396dca2441.png);
 background-repeat: no-repeat;
 width: 32px;  }
.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -64px 0; } 

