.frame { 
 background-color: transparent;
 background-image: url(sprite-shadowman91a47b6590075d201a67ad09bd8787b8.png);
 background-repeat: no-repeat;
 width: 32px;  }
.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -64px 0; } 

