.frame { 
 background-color: transparent;
 background-image: url(sprite-flameguyc654201659da4fd54959b4de0ecf599d.png);
 background-repeat: no-repeat;
 width: 32px;  }
.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -64px 0; } 

